{% extends '::base.html.twig' %} {% block stylesheets %} {{ parent() }}
<link rel="stylesheet" href="{{ asset('css/subscribe.css') }}"
	type="text/css" media="all" />
{% endblock %} {% block body %}
<section class="cover">
	<div class="cover_content">
		<div class="subscription_bloc">
			<h1 class="section_title">Inscrivez-vous</h1>
			{{ form_start(form, {'attr':{'class': 'subscription_form'}}) }} {#
			Les erreurs générales du formulaire #} {{ form_errors(form) }}

			<!--identity-->
			<div class="form-title">
				<h2>Contact</h2>
			</div>
			<div class="form-inline username">
				<div class="form-group left-group">{{ form_label(form.username) }}
					{{ form_errors(form.username) }} {{ form_widget(form.username) }}</div>
			</div>
			<div class="form-inline password">
				<div class="pass_line">{{ form_row(form.plainPassword) }}</div>
			</div>
			<!--identity end-->

			<input
				class="green_btn validation_button subscription_validation_button" value="{{ 'registration.submit'|trans }}"/>

			{{ form_rest(form) }} {{ form_end(form) }}
		</div>
	</div>
</section>
{% endblock %}
